<div class="skeleton">
    <svg role="img" width="340" height="84" aria-labelledby="loading-aria" viewBox="0 0 340 84" preserveAspectRatio="none">
      <title id="loading-aria">Loading...</title>
      <rect x="0" y="0" width="350%" height="350%" clip-path="url(#clip-path)" style='fill: url("#fill");'></rect>
      <defs>
        <clipPath id="clip-path">
          <rect x="0" y="0" rx="6" ry="6"  height="11" />
          <rect x="76" y="0" rx="6" ry="6"  height="11" />
          <rect x="127" y="48" rx="6" ry="6"  height="11" />
          <rect x="187" y="48" rx="6" ry="6"  height="11" />
          <rect x="18" y="48" rx="6" ry="6"  height="11" />
          <rect x="0" y="71" rx="6" ry="6"  height="11" />
          <rect x="73" y="71" rx="6" ry="6"  height="11" />
          <rect x="18" y="23" rx="6" ry="6"  height="11" />
          <rect x="166" y="23" rx="6" ry="6"  height="11" />
        </clipPath>
        <linearGradient id="fill">
          <stop offset="0.599964" stop-color="#f3f3f3" stop-opacity="1">
            <animate attributeName="offset" values="-2; -2; 1" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
          </stop>
          <stop offset="1.59996" stop-color="#ecebeb" stop-opacity="1">
            <animate attributeName="offset" values="-1; -1; 2" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
          </stop>
          <stop offset="2.59996" stop-color="#f3f3f3" stop-opacity="1">
            <animate attributeName="offset" values="0; 0; 3" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
          </stop>
        </linearGradient>
      </defs>
    </svg>
  </div>