
.navbar{
    .navbar-container{
        display: flex;
        align-items: center;
        padding: 0 20px;
        min-height: 60px;
        background-color: #178bf9;
        justify-content: space-between;
        .navbar-left-item{
            font-size: 40px;
            color: #ffffff;
            font-weight: 400;
            font-style: italic;
            text-decoration: none;
        }
        .navbar-right-item {
            .avatar{
                width: 40px;
                height: 40px;
                background-color: #eeeeee;
                border-radius: 50%;
            }
        }
    }
}
