<div class="post-item-container">
    <div class="post-item">
        <div class="post-item-first-section">
            <img src="../../../assets/icons/plus-icon.svg">
        </div>
      <div class="post-item-center-section">
        <div class="title">Title</div>
        <div class="description">Description</div>
        <div class="actor">actor</div>
      </div>
      <div class="post-item-final-section">
          <img src="../../../assets/icons/edit-icon.svg" alt="" class="icon">
          <img src="../../../assets/icons/delete-icon.svg" alt="" class="icon">
      </div>
    </div>
</div> 