<div class="page-title">Layout</div>
<button (click)="addNewBlock()" class="main-page-button">Add New Block</button>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Block page Count Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Block page Count</th>
      <td mat-cell *matCellDef="let element">{{ element.blockPageCount }}</td>
    </ng-container>
  
    <!-- author Column -->
    <ng-container matColumnDef="author">
      <th
        mat-header-cell
        *matHeaderCellDef
      >
        Author
      </th>
      <td mat-cell *matCellDef="let element">{{ element.author }}</td>
    </ng-container>
  
    <!-- content Column -->
    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef>Content</th>
      <td mat-cell *matCellDef="let element">{{ element.content }}</td>
    </ng-container>
  
    <!-- sorted Column -->
    <ng-container matColumnDef="sorted">
      <th mat-header-cell *matHeaderCellDef>Sorted</th>
      <td mat-cell *matCellDef="let element">{{ element.sorted }}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

